th{
    text-align: center;
    border: 4px solid #AAAAAA;
    height: 45px;
    font-weight: bold;
    background: #F5D0E4;
    font-size: 20px;
}

td {
    text-align: center;
    height: 35px;
    font-size: 18px;
    background: #fbf3df;
}

table {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 70%;
    text-align: left;
    border-collapse: collapse;
    border-collapse: separate;
}